<!DOCTYPE html>
<html>
<head>
	<title>Friends Edit</title>
</head>
<body>
	<h2>Edit a Friend:</h2>
		<form action="/friends/<id>" method="post">
		<label for="id">Friend's ID:</label>
		<input type="text" name="id"/>
		<label for="first_name">First Name:</label>
		<input type="text" name="first_name"/>
		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name"/>
		<label for="email">Email:</label>
		<input type="text" name="email">
		<input type="submit" name="edit" value="edit" />
	</form>
</body>
</html>